{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/exec", {
        "prepareCmd": "dotnet pack ./src/meh.csproj --no-restore --nologo --configuration Release /p:Version=${nextRelease.version}",
        "publishCmd": "dotnet nuget push ./src/bin/Release/meh.${nextRelease.version}.nupkg --api-key ${process.env.GH_TOKEN} --source mdddev"
      }
    ]
  ]
}